@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    List<BalajiVedic.Entities.Donors> lstDonors = ViewBag.lstDonors;

    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;
    string userRole = null;
    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);

        userRole = authTicket.UserData;
    }
}




<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div>
        }
        else
        {
            <table width="100%" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="5%" style="text-align:center">S.No.</th>

                        <th width="10%">
                            <a onclick="javascript:sortresult('iDonorID');" class="white-t-u">
                                Donor Id @if (sortcolumn == "iDonorID")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>

                        <th width="10%">
                            <a onclick="javascript:sortresult('sLastName');" class="white-t-u">
                                Last Name @if (sortcolumn == "sLastName")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>


                        <th width="10%">
                            <a onclick="javascript:sortresult('sFirstName');" class="white-t-u">
                                First Name  @if (sortcolumn == "sFirstName")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>



                        <th width="10%">
                            <a onclick="javascript:sortresult('sHomePhone');" class="white-t-u">
                                Home Phone  @if (sortcolumn == "sHomePhone")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>

                        <th width="10%">
                            <a onclick="javascript:sortresult('sDonorType');" class="white-t-u">
                                Donor Type @if (sortcolumn == "sDonorType")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>


                
                        <th width="20%">
                            <a onclick="javascript:sortresult('sStreetName');" class="white-t-u">
                                Address @if (sortcolumn == "sStreetName")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>

                        <th width="10%">
                            <a onclick="javascript:sortresult('dDateOfJoin');" class="white-t-u">
                                Date Of Join @if (sortcolumn == "dDateOfJoin")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (lstDonors.Count != 0)
                    {
                        foreach (var item in lstDonors)
                        {
                    <tr>
                        <td style="text-align:center">@item.RId</td>

                        <td style="text-align: left">@item.iDonorID</td>
                        <td style="text-align: left">@item.sLastName</td>
                        <td style="text-align: left">@item.sFirstName</td>
                        <td style="text-align: left">@item.sHomePhone</td>
                        <td style="text-align: left">@item.sDonorType</td>
                        <td style="text-align: left">@item.sStreetName</td>
                        <td style="text-align: left">@item.dDateOfJoin</td>

                    </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="9">No Records Found.</td>
                        </tr>
                    }
            </table>
        }
    </div>
</div>

@Html.Raw(BalajiVedic.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))

