@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#Donations').addClass('active');
        $('#wDonorType').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        PagerClickBind();

    });

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            DonorTypeBind($(this).text());
        });
    }

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        DonorTypeBind(1);
    }

    function Add() {
        clearDonorType();
        $('#AddDonor-Category').modal('show');
        $('#lbltitle').html('Add Donor Type');
    }
   
    function clearDonorType() {
        $('#iDonorTypeID').val('');
        $('#sDonorType').val('');
        $('#spansDonorType').html('');
        $("#AddDonorType").dialog("close");
        $('#sDonorType').focus().removeClass("validate");
    }


    function DonorTypeBind(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#keyword').val().trim();

        $.ajax({
            url: '@Url.Action("DonorTypeList", "DonorType")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items },
            success: function (result) {
                $('#divDonorType').html(result);
                PagerClickBind();
            }
        });
    }

    function DonorTypeEdit(iDonorTypeID) {
        $.ajax({
            url: '@Url.Action("EditDonationCategory", "DonorType")',
            type: 'POST',
            data: { iDonorTypeID: iDonorTypeID },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objDonorType = result.data;
                    $('#iDonorTypeID').val(objDonorType.iDonorTypeID);
                    $('#sDonorType').val(objDonorType.sDonorType);
                    $('#lbltitle').html('Edit Donor Type');

                    $('#sDonorType').focus().removeClass("validate");

                    $('#AddDonor-Category').modal('show');
                }
                else {
                    alert(result.data);
                }
            }
        });
    }



    function Delete(iDonorTypeID) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteDonationCategory", "DonorType")',  // the URL of the controller action method
                data: { iDonorTypeID: iDonorTypeID }, // optional data
                success: function (result) {
                    $("#divmessage").html(result.data);
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    DonorTypeBind($('#hdnPageNo').val());
                },
                error: function (req, status, error) {
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function Validate() {

        //Account Information
        if ($.trim($('#sDonorType').val()) == '') { $('#sDonorType').focus().addClass("validate"); return false; } else { $('#sDonorType').focus().removeClass("validate"); }

        return true;
    }
    function ResetValidateClass() {
        $('#sDonorType').removeClass("validate");
    }
    function ClearSearch() {
        $('#keyword').val('');
        DonorTypeBind(1);
    }
</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="dCreateDate" />
<input id="hdnsortorder" type="hidden" value="DESC" />

<!-- breadcumb -->


<div class="content-header">
    <h1>Manage Donor Types</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index", "DonorType")"><i class="fa fa-money"></i> Manage Donor Types</a></li>
        <li class="active"><i class="fa fa-money"></i>  Manage Donor Types</li>
    </ol>
</div>
<!--end breadcumb -->

<div class="content">
    <!-- Main content -->

    <div id="divmessage">
        @if (TempData["message"] != null)
        { @Html.Raw(TempData["message"].ToString())}

        @if (ViewBag.message != null)
        { @Html.Raw(ViewBag.message.ToString())}
    </div>
    <div class="box">
        <div class="clearfix box-body">
            <div class="clearfix row">
                <div class="col-xs-12 col-lg-4 col-sm-6">
                    <label>Search</label>
                    <input type="text" placeholder="Key Word" name="keyword" id="keyword" class="form-control" />
                </div>
                <div class="col-xs-12 col-lg-8 col-sm-6">
                    <div>
                        <label>&nbsp;</label>
                    </div>
                    <button class="btn btn-primary" type="submit" onclick="DonorTypeBind(1);">Search</button>
                    <button class="btn btn-info" type="submit" onclick="ClearSearch();">Clear</button>
                    <a data-toggle="modal" onclick="Add();" class="btn btn-danger pull-right">Add </a>
                </div>
            </div>
        </div>
        <div id="divDonorType" class="box-body table-responsive">
            @{Html.RenderAction("DonorTypeList", "DonorType");}
        </div>


    </div>
</div>


<div class="modal fade" id="AddDonor-Category" tabindex="-1" role="dialog" aria-hidden="true">
    @using (Html.BeginForm("InsertDonorType", "DonorType", FormMethod.Post, new { style = "margin-bottom:0" }))    {
        <input type="hidden" id="iDonorTypeID" name="iDonorTypeID" value="0" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span id="lbltitle"></span></h4>
                </div>
                <div class="modal-body validation">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <label>Donor Type </label>
                            <input type="text" id="sDonorType" name="sDonorType" onkeypress="ResetValidateClass();" onclick="ResetValidateClass();" placeholder="Donor Type *" value="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <input type="submit" onclick="return Validate();" value="Submit" class="btn btn-danger">
                    <a class="btn btn-primary pull-left" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div> 
    }
</div>

